.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.050000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.766000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.010121;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.785699;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.992676;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.026000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.766000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.011629;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.790527;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-5.797015px;}
._1{margin-left:-3.529694px;}
._0{margin-left:-1.772636px;}
._2{width:5.275966px;}
._3{width:450.899267px;}
._4{width:627.147263px;}
.fc1{color:rgb(255,255,255);}
.fc2{color:rgb(31,43,33);}
.fc0{color:rgb(255,187,220);}
.fs1{font-size:44.001458px;}
.fs4{font-size:60.029276px;}
.fs8{font-size:64.021222px;}
.fs5{font-size:84.040986px;}
.fs2{font-size:88.032933px;}
.fs7{font-size:144.010232px;}
.fs3{font-size:176.065865px;}
.fs6{font-size:260.106863px;}
.fs0{font-size:384.187364px;}
.y0{bottom:0.000000px;}
.y2{bottom:98.617172px;}
.y1e{bottom:101.188165px;}
.y25{bottom:116.025126px;}
.yf{bottom:128.881967px;}
.y1d{bottom:135.534509px;}
.y19{bottom:187.934043px;}
.ye{bottom:190.411975px;}
.y1{bottom:193.913647px;}
.y2f{bottom:194.525690px;}
.y18{bottom:208.944290px;}
.y2e{bottom:215.535936px;}
.y24{bottom:218.890204px;}
.yd{bottom:221.176978px;}
.y17{bottom:229.954536px;}
.y2d{bottom:236.546183px;}
.y23{bottom:248.154476px;}
.y16{bottom:250.964783px;}
.yc{bottom:251.941982px;}
.y2b{bottom:257.556429px;}
.y15{bottom:271.975029px;}
.y22{bottom:277.418748px;}
.yb{bottom:282.706986px;}
.y2c{bottom:287.613263px;}
.ya{bottom:313.471990px;}
.y1c{bottom:313.995522px;}
.y28{bottom:318.445798px;}
.y1b{bottom:335.005768px;}
.y21{bottom:335.947292px;}
.y9{bottom:344.236993px;}
.y1a{bottom:356.016015px;}
.y27{bottom:382.977269px;}
.y12{bottom:389.068033px;}
.y14{bottom:402.336719px;}
.y8{bottom:405.767001px;}
.y20{bottom:421.846328px;}
.y11{bottom:432.589258px;}
.y7{bottom:436.532004px;}
.y2a{bottom:442.176772px;}
.y13{bottom:445.857944px;}
.y26{bottom:447.508740px;}
.y1f{bottom:465.367553px;}
.y6{bottom:467.297008px;}
.y10{bottom:476.110483px;}
.y29{bottom:477.443972px;}
.y5{bottom:498.062012px;}
.y4{bottom:506.887702px;}
.y3{bottom:517.392825px;}
.h3{height:32.605081px;}
.h7{height:33.798429px;}
.h6{height:46.069165px;}
.hc{height:46.159676px;}
.hd{height:49.391373px;}
.h9{height:64.496831px;}
.h8{height:64.631129px;}
.h4{height:67.560430px;}
.hb{height:106.711582px;}
.h5{height:139.092034px;}
.ha{height:201.842926px;}
.h2{height:303.508017px;}
.h1{height:575.999980px;}
.h0{height:576.000000px;}
.w0{width:1024.500000px;}
.x0{left:0.000000px;}
.x1{left:73.214279px;}
.x8{left:74.889270px;}
.x3{left:98.726721px;}
.x4{left:117.394662px;}
.x9{left:366.071382px;}
.x5{left:383.037318px;}
.x7{left:436.572984px;}
.x2{left:512.499939px;}
.xa{left:658.928517px;}
.x6{left:692.860339px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-7.729354pt;}
._1{margin-left:-4.706259pt;}
._0{margin-left:-2.363514pt;}
._2{width:7.034621pt;}
._3{width:601.199023pt;}
._4{width:836.196351pt;}
.fs1{font-size:58.668611pt;}
.fs4{font-size:80.039034pt;}
.fs8{font-size:85.361630pt;}
.fs5{font-size:112.054648pt;}
.fs2{font-size:117.377244pt;}
.fs7{font-size:192.013643pt;}
.fs3{font-size:234.754487pt;}
.fs6{font-size:346.809151pt;}
.fs0{font-size:512.249818pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:131.489562pt;}
.y1e{bottom:134.917553pt;}
.y25{bottom:154.700167pt;}
.yf{bottom:171.842623pt;}
.y1d{bottom:180.712678pt;}
.y19{bottom:250.578724pt;}
.ye{bottom:253.882633pt;}
.y1{bottom:258.551529pt;}
.y2f{bottom:259.367587pt;}
.y18{bottom:278.592386pt;}
.y2e{bottom:287.381249pt;}
.y24{bottom:291.853606pt;}
.yd{bottom:294.902638pt;}
.y17{bottom:306.606048pt;}
.y2d{bottom:315.394911pt;}
.y23{bottom:330.872635pt;}
.y16{bottom:334.619710pt;}
.yc{bottom:335.922643pt;}
.y2b{bottom:343.408572pt;}
.y15{bottom:362.633372pt;}
.y22{bottom:369.891664pt;}
.yb{bottom:376.942648pt;}
.y2c{bottom:383.484350pt;}
.ya{bottom:417.962653pt;}
.y1c{bottom:418.660696pt;}
.y28{bottom:424.594397pt;}
.y1b{bottom:446.674358pt;}
.y21{bottom:447.929722pt;}
.y9{bottom:458.982658pt;}
.y1a{bottom:474.688020pt;}
.y27{bottom:510.636358pt;}
.y12{bottom:518.757378pt;}
.y14{bottom:536.448959pt;}
.y8{bottom:541.022668pt;}
.y20{bottom:562.461771pt;}
.y11{bottom:576.785677pt;}
.y7{bottom:582.042673pt;}
.y2a{bottom:589.569030pt;}
.y13{bottom:594.477259pt;}
.y26{bottom:596.678320pt;}
.y1f{bottom:620.490070pt;}
.y6{bottom:623.062678pt;}
.y10{bottom:634.813977pt;}
.y29{bottom:636.591962pt;}
.y5{bottom:664.082683pt;}
.y4{bottom:675.850269pt;}
.y3{bottom:689.857100pt;}
.h3{height:43.473441pt;}
.h7{height:45.064572pt;}
.h6{height:61.425553pt;}
.hc{height:61.546235pt;}
.hd{height:65.855164pt;}
.h9{height:85.995774pt;}
.h8{height:86.174839pt;}
.h4{height:90.080574pt;}
.hb{height:142.282109pt;}
.h5{height:185.456045pt;}
.ha{height:269.123901pt;}
.h2{height:404.677356pt;}
.h1{height:767.999973pt;}
.h0{height:768.000000pt;}
.w0{width:1366.000000pt;}
.x0{left:0.000000pt;}
.x1{left:97.619039pt;}
.x8{left:99.852361pt;}
.x3{left:131.635629pt;}
.x4{left:156.526217pt;}
.x9{left:488.095176pt;}
.x5{left:510.716424pt;}
.x7{left:582.097312pt;}
.x2{left:683.333252pt;}
.xa{left:878.571355pt;}
.x6{left:923.813786pt;}
}
